<div class="auth-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <ng-content select="h1"></ng-content>

    <label>
      <input 
        type="email"
        placeholder="Email address"
        formControlName="email">
    </label>

    <label>
      <input 
        type="password"
        placeholder="Enter password"
        formControlName="password">
    </label>

    <div class="error" *ngIf="emailFormat">
      Invalid email format
    </div>

    <div class="error" *ngIf="passwordInvalid">
      Password is required
    </div>
    
    <ng-content select=".error"></ng-content>
    
    <div class="auth-form__action">
      <ng-content select="button"></ng-content>
    </div>

    <div class="auth-form__toggle">
      <ng-content select="a"></ng-content>
    </div>
  </form>
</div>