.schedule-assign {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  justify-content: center;
  &__modal {
    max-width: 500px;
    background: #fff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #97a8b9;
    border-radius: 3px;
    overflow: hidden;
  }
  &__empty {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    img {
      margin: 0 10px 0 0;
    }
  }
  &__title {
    padding: 30px;
    display: flex;
    align-items: center;
    background: #f6fafd;
    border-bottom: 1px solid #c1cedb;
    h1 {
      flex-grow: 1;
      display: flex;
      align-items: center;
      margin: 0 35px 0 0;
      padding: 0;
      font-size: 18px;
      img {
        margin: 0 10px 0 0;
        width: 24px;
        height: 24px;
      }
    }
    a {
      display: flex;
      align-items: center;
      color: #fff;
      background: #97c747;
      border-radius: 50px;
      padding: 6px 20px 6px 15px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 13px;
    }
  }
  &__list {
    margin: 30px;
    border-radius: 3px;
    border: 1px solid #c1cedb;
    height: 140px;
    overflow-y: scroll;
    div {
      cursor: pointer;
      padding: 8px 10px 8px 35px;
      transition: all .2s ease-in-out;
      background: url(/img/check.svg) no-repeat 8px 9px;
      background-size: 20px 20px;
      border-bottom: 1px solid #d1deeb;
      &.active {
        background-image: url(/img/check-active.svg);
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  &__submit {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 30px;
  }
  .button {
    cursor: pointer;
    outline: 0;
    border: 0;
    border-radius: 2px;
    background: #39a1e7;
    color: #fff;
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    &:hover {
      background: darken(#39a1e7, 5%);
    }
    &:disabled {
      opacity: .4;
      cursor: not-allowed;
    }
    &--cancel {
      background: #fff;
      color: #545e6f;
      &:hover {
        background: #fff;
      }
    }
    &--delete {
      background: #d73a49;
      align-self: flex-start;
      &:hover {
        background: darken(#d73a49, 5%);
      }
    }
  }
}